    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/amazeui.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/mysite.js"></script>
</body>
</html>