    <footer data-am-widget="footer"
        class="am-footer am-footer-default"
        data-am-footer="{  }">
        <div class="am-footer-switch">
            <span class="am-footer-ysp" data-rel="mobile"
            data-am-modal="{target: '#am-switch-mode'}">
            云适配版
            </span>
            <span class="am-footer-divider"> | </span>
            <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">
            电脑版
            </a>
            </div>
            <div class="am-footer-miscs ">
                <p>由 <a href="javascript:void(0);" title="chenchuang" target="_blank" class="">chenchuang</a>提供技术支持</p>
                <p>CopyRight©2014  AllMobilize Inc.</p>
                <p>京ICP备13033158</p>
            </div>
    </footer>


    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/amazeui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/mysite.js"></script>
</body>
</html>