<div class="tpl-page-container">
<div class="tpl-left-nav tpl-left-nav-hover">
    <div class="tpl-left-nav-title">
        网站菜单
    </div>
    <div class="tpl-left-nav-list">
        <ul class="tpl-left-nav-menu">
            <li class="tpl-left-nav-item">
                <% if(index==1){ %>
                    <a href="/admin" class="nav-link active">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                <% }else{%>
                    <a href="/admin" class="nav-link">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                <% } %>
            </li>
            <li class="tpl-left-nav-item">
                <!-- 打开状态 a 标签添加 active 即可   -->
                <% if( index==6 || index==7 ){ %>
                    <a href="javascript:void(0);" class="nav-link tpl-left-nav-link-list active">
                        <i class="am-icon-table"></i>
                        <span>文章管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display:block">
                        <li>
                            <% if(index==6){ %>
                                <a href="/admin/article/sort" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>文章分类</span>
                                    <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i> -->
                                </a>
                            <% }else{%>
                                <a href="/admin/article/sort">
                                    <i class="am-icon-angle-right"></i>
                                    <span>文章分类</span>
                                    <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i> -->
                                </a>
                            <% } %>
                            <% if(index==7){ %>
                                <a href="/admin/article/list" class="active">
                                    <i class="am-icon-angle-right"></i>
                                    <span>文章列表</span>
                                    <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i> -->
                                </a>
                            <% }else{%>
                                <a href="/admin/article/list">
                                    <i class="am-icon-angle-right"></i>
                                    <span>文章列表</span>
                                    <!-- <i class="tpl-left-nav-content tpl-badge-success">18</i> -->
                                </a>
                            <% } %>
    
                            
                        </li>
                    </ul>
                <% }else{ %>
                    <a href="javascript:void(0);" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-table"></i>
                        <span>文章管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/admin/article/sort">
                                <i class="am-icon-angle-right"></i>
                                <span>文章分类</span>
                                <!-- <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i> -->
                            </a>
                            <a href="/admin/article/list">
                                <i class="am-icon-angle-right"></i>
                                <span>文章列表</span>
                            </a>
                        </li>
                    </ul>
                <% } %>
            </li>

            <li class="tpl-left-nav-item">
                <% if(index==8){ %>
                    <a href="/admin/customers" class="nav-link tpl-left-nav-link-list active">
                        <i class="am-icon-user-md"></i>
                        <span>会员管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                <% }else{%>
                    <a href="/admin/customers" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-user-md"></i>
                        <span>会员管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                <% } %>
                
            </li>
            <li class="tpl-left-nav-item">
                <% if(index==9){ %>
                    <a href="/admin/info" class="nav-link tpl-left-nav-link-list active">
                        <i class="am-icon-wpforms"></i>
                        <span>个人信息</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                <% }else{%>
                    <a href="/admin/info" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-wpforms"></i>
                        <span>个人信息</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                <% } %>
            </li>
            <li class="tpl-left-nav-item">
                <a href="/admin/out" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-sign-out"></i>
                    <span>退出登录</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>