<%- include('../components/header.ejs') %>
<%- include('../components/section_header.ejs') %>
<%- include('../components/section_tabs.ejs') %>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<style>
    #tbody{
        overflow: hidden;
    }
    .pagination{
        float: right;
        font-size: 14px;
    }
    .tpl-table-images-content-i img{
        width: 281px;
        height: 175px;
    }
    [class*=am-u-]+[class*=am-u-]:last-child{
        float: left;
    }
</style>
<div class="tpl-portlet-components">
    <div class="tpl-block">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="/admin/article/create" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-form-group">
                    <select id="select_sort" data-am-selected="{btnSize: 'sm'}" style="display: none;">
                        <option value="">全部文章</option>
                    </select>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <input type="text" id="search_title" class="am-form-field" placeholder="输入查询的文章标题">
                    <span class="am-input-group-btn"><button id="search_btn" class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button></span>
                </div>
            </div>
        </div>
        <div class="am-g">
            <div class="tpl-table-images">
                <div id="tbody">

                </div>
                
                <div id="paginations" class="am-pagination-right pagination">
                </div>

            </div>

        </div>
    </div>
</div>
<%- include('../components/footer.ejs') %>
<script src="/javascripts/jqpaginator.min.js"></script>
<script>
    var totals,indexSort,limit=10,index=0;
    //获取文章分类
    $.get('/admin/article/sorts',{limit:20},function(res){
        var resData=res.data;
        var optionHtml='';
        resData.forEach(function(item){
            optionHtml+=`<option value="${item.id}">${item.name}</option>`
        })
        $('#select_sort').append(optionHtml);
    });
    //筛选分类
    $('#select_sort').change(function(){
        indexSort=$(this).val();
        var title=$('#search_title').val();
        getArticleList('/admin/article/all',indexSort,title)
    });
    //搜索
    $('#search_btn').click(function(){
        var title=$('#search_title').val();
        getArticleList('/admin/article/all',indexSort,title)
    })

    getArticleList('/admin/article/all');
    function getArticleList(url,sort,title){
        $.get(url,function(res){
            if(res.status==2){
                customers=res.data;
                totals=Math.ceil(res.counts/limit);
                $('#paginations').jqPaginator({
                    totalPages: totals,
                    visiblePages: 5,
                    currentPage: 1,
                    prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
                    next: '<li class="next"><a href="javascript:;">下一页</a></li>',
                    page: `<li class="page"><a href="javascript:;">{{page}}</a></li>`,
                    onPageChange: function (num) {
                        $.get(url,{page:num,limit:limit,sort:sort,title:title},function(res){
                            var trData='';
                            var multiple=(num-1)*limit;
                            res.data.forEach(function(item,index){
                                trData+=`<div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                                        <div class="tpl-table-images-content">
                                            <div class="tpl-table-images-content-i-time">发布时间：${item.create_time}</div>
                                            <div class="tpl-i-title">
                                                ${item.title}
                                            </div>
                                            <a href="/admin/article/desc?id=${item.id}" class="tpl-table-images-content-i">
                                                <span class="tpl-table-images-content-i-shadow"></span>
                                                <img src="/uploads/${item.pic}" alt="">
                                            </a>
                                            <div class="tpl-table-images-content-block">
                                                <div class="tpl-i-more">
                                                    <ul>
                                                        <li><span class="am-icon-eye font-green"> ${item.views}</span></li>
                                                    </ul>
                                                </div>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">
                                                        <a href="/admin/article/edit?id=${item.id}" type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-edit"></span> 编辑</a>
                                                        <button onclick="deleteArticle(${item.id})" type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                                
                            });
                            $("#tbody").html(trData);
                        })
                    }
                });
            }else{
                alertModel('会员信息获取失败')
            }
        })
    }

    function deleteArticle(id){
        $.post('/admin/article/delete',{id:id},function(res){
            alertModel(res.data);
            setTimeout(function(){
                window.location.reload();
            },1500);
        })
    }
    
    


</script>